services:
  postgres:
    image: postgres
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - transcendence
    ports:
      - "5432:5432"

  certs:
    build: ./certs
    restart: on-failure
    env_file: .env
    volumes:
      - certs_data:/certs
    networks:
      - transcendence

  frontend:
    build: ./frontend
    restart: always
    env_file: .env
    depends_on:
      - certs
    ports:
      - "8888:443"
      - "8000:80"
    networks:
      - transcendence
    volumes:
      - certs_data:/certs

  backend:
    build: ./backend
    restart: always
    env_file: .env
    depends_on:
      - postgres
      - certs
    networks:
      - transcendence
    volumes:
      - exports_data:/exports
      - certs_data:/certs

  harvester:
    build: ./harvester
    restart: always
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - exports_data:/exports
    networks:
      - transcendence

  statcruncher:
    build: ./statcruncher
    restart: always
    env_file: .env
    depends_on:
      - postgres
      - certs
    networks:
      - transcendence
    volumes:
      - certs_data:/certs

  pongbot:
    build: ./pongbot
    restart: always
    env_file: .env
    depends_on:
      - certs
    networks:
      - transcendence
    volumes:
      - certs_data:/certs
networks:
  transcendence:
    driver: bridge

volumes:
  postgres_data:
  exports_data:
  certs_data:
