apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  JWT_SECRET: change_me
  POSTGRES_DB: transcendence
  POSTGRES_USER: transcendence
  POSTGRES_PASSWORD: change_me
  OAUTH2_CLIENT_ID: client_id
  OAUTH2_CLIENT_SECRET: client_secret
  OAUTH2_REDIRECT_URI: http://localhost:8888/api/v1/auth/42/callback
  RESEND_API_KEY: api_key
  BASE_URL: http://localhost:3000
  HOST_NAME: string
  BOT_TOKEN: string

  # Optional environment variables. Note: CHAT_COMPLETION_TOKEN is dependent on a private provider.
  # To use OpenAI's API, modifications to the code will be necessary.
  # PLIVO_AUTHID: api_key
  # PLIVO_AUTHTOKEN: api_key
  # SKIP_EMAIL_VERIFICATION: bool
  # CHAT_COMPLETION_TOKEN: api_key
  # FAST_MATCH: bool